@{
    ViewBag.Title = "ServersLIVE";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Internet Solutions Randview Data Centre
    Randview Business Park
    Randview Avenue
    Ferndale ext 9
    Johannesburg


</address>

<iframe width="1500" height="500" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQg-83Gy_5XbGUaGe7m0LZTOpcoUeqSmb8ZWZnBX0isuXjYY_i1OTpMN5UPs-0vs7mAx9uwxF8ArAhX/pubhtml?gid=752954062&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

<address>
    <strong>HostedOPS:</strong>   <a href="mailto:HostedOPS@flash.co.za">HostedOPS@flash.co.za</a><br />

</address>