@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Contact</h3>

<address>
    2 Fir Street<br />
    Black River Park<br />
    The Terraces - Level 4<br/>
    Observatory - 7925
</address>

<address>
    <p><a href="mailto:HostedOPS@flash.co.za" class="btn btn-primary btn-lg">Mail HostedOPS team &raquo;</a></p>
    
</address>