@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HostedOPS</h1>
    <p class="lead">Place to view the hosted operations servers and services for maintanance and troubleshooting.</p>
    <p><a href="mailto:HostedOPS@flash.co.za" class="btn btn-primary btn-lg">Mail HostedOPS team &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Christo Visagie -
            HostedOPS
        </p>
        <p><a class="btn btn-default" href="mailto:Christo.Visagie@flash.co.za">Email Christo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Chase Pretorius - HostedOPS</p>
        <p><a class="btn btn-default" href="mailto:Chase.Pretorius@flash.co.za">Email Chase &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Divan Dauth - Onebalance</p>
        <p><a class="btn btn-default" href="mailto:Divan.Dauth@flash.co.za">Email Divan &raquo;</a></p>
    </div>
</div>