@{
    ViewBag.Title = "LoadbalancerLIVE";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Internet Solutions Randview Data Centre
    Randview Business Park
    Randview Avenue
    Ferndale ext 9
    Johannesburg


</address>

<iframe src="https://lb.flash.local:444/index.cgi?id=2-2"
        style="border: 0; width:1000px; height:1000px;"></iframe>
<address>
    <strong>HostedOPS:</strong>   <a href="mailto:HostedOPS@flash.co.za">HostedOPS@flash.co.za</a><br />

</address>