@{
    ViewBag.Title = "Loadbalancer45";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adept Internet
    Data Voice House
    16 Electron Avenue
    Techno Park
    Stellenbosch
    7600

</address>

<iframe src="https://192.168.0.45:444/index.cgi?id=2-2"
        style="border: 0; width:1000px; height:1000px;"></iframe>

<address>
    <strong>HostedOPS:</strong>   <a href="mailto:HostedOPS@flash.co.za">HostedOPS@flash.co.za</a><br />

</address>